<% provide(:title, 'Home') %>
<div class="home-container-one">
  <div>
    <div class="css-typing">
      <p class="h1 home-text-one">
        Tus perfiles
      </p>
    </div>
    <div class="css-typing">
      <p class="h1 home-text-two">
        en un solo lugar.
      </p>
    </div>
  </div>
</div>