<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to 'prismay', root_path, id: 'header-logo' %>
    <nav class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-light">Crea una cuenta</button>
      <button type="button" class="btn btn-light">Inicia Sesión</button>
    </nav>
  </div>
</header>