<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'prismay', root_path, id: 'header-logo' %>
    <nav>
      <div class="navbar-header">
        <!-- TODO use aprropriate JavaScript -->
        <button type="button" class="navbar-toggle collapsed hamburger"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false"
                onclick="this.style.animation='none'">
          <span class="sr-only">Botón de navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="bs-example-navbar-collapse-1"
           class="nav navbar-nav navbar-right button-container collapse
           navbar-collapse d-flex">
        <button type="button" class="btn btn-light btn-1">Inicia Sesión</button>
        <button type="button" class="btn btn-light">Crea una cuenta</button>
      </div>
    </nav>
  </div>
</header>
